In [ ]:
import pandas as pd

In [ ]:
pd.read_excel('2021jeju.xlsx')

In [ ]:
import pymysql
# MySQL 연결에 필요한 정보를 입력합니다.
con = pymysql.connect(host='localhost', user='root', password='mysql', db='pyprac2', charset='utf8',
                     cursorclass=pymysql.cursors.DictCursor) # 컬럼명까지 받아올지 여부
# SQL구문을 받아주는 cursor 객체를 사용합니다.
cur = con.cursor()
cur.execute("SELECT * FROM rent_tbl")
mysql_data = cur.fetchall()
mysql_data 
pd.DataFrame(mysql_data)

In [13]:
cur.execute("INSERT INTO rent_tbl (VHCLE_NM, VHCLE_TY_NM, VHCLE_NMPR_CO, VHCLE_MAKR_NM, USE_TIME_CO) VALUES ('%s', '%s', '%s', '%s', %s)" % (selected_row['VHCLE_NM'], selected_row['VHCLE_TY_NM'], selected_row['VHCLE_NMPR_CO'], selected_row['VHCLE_MAKR_NM'], selected_row['USE_TIME_CO']))
con.commit()

NameError: name 'selected_row' is not defined

In [12]:
cur.execute("SELECT * FROM rent_tbl")

3